/*Convertion Ration sp to rem for html */
$conversionRatioSpToRemWeb: 0.0625; //! 0.0625;
$conversionRatioRemToPxWeb: 16;

// Scales
@function toRem($size) {
	@return $size * $conversionRatioSpToRemWeb + 0rem;
}

@function toPx($rems) {
	@return $rems * $conversionRatioRemToPxWeb + 0rem;
}

@mixin font-size($size) {
	font-size: #{toRem($size)};
}

@mixin line-height($size) {
	line-height: #{toRem($size)};
}

@mixin width($size) {
	width: #{toRem($size)};
}

@mixin height($size) {
	height: #{toRem($size)};
}

@mixin margin($m1, $m2, $m3, $m4) {
	margin: #{toRem($m1)} #{toRem($m2)} #{toRem($m3)} #{toRem($m4)};
}

@mixin padding($p1, $p2, $p3, $p4) {
	padding: #{toRem($p1)} #{toRem($p2)} #{toRem($p3)} #{toRem($p4)};
}

// @function spacing($tracking, $px) {
//     @return $tracking / $px;
// }

// @mixin mat-typo($size, $spacing, $lineheight) {
//     font-size: #{spToRem($size)}rem;
//     letter-spacing: #{spacing($spacing, remToPx($size))}px;
//     line-height: $lineheight;
// }

// Weights
$w-thin: 100;
$w-light: 300;
$w-regular: 400;
$w-medium: 500;
$w-semibold: 600;
$w-bold: 700;
$w-black: 900;

@mixin set($arg) {
	@media screen and (max-width: #{$arg}px) {
		@content;
	}
}
