@media screen and (min-width: 1200px) {
	.container {
		max-width: 1320px;
	}
}

/* max-width starts */

@media screen and (max-width: 1855px) {
	:root {
		font-size: 13.333px;
	}
}

@media screen and (max-width: 1600px) {
	:root {
		font-size: 12px;
	}

	.container {
		max-width: 1080px;
	}
}

@media screen and (max-width: 1440px) {
	:root {
		font-size: 10px;
	}
}

@media screen and (max-width: 1280px) {
	.container {
		max-width: 900px;
	}
}

@media screen and (max-width: 1155px) {
	:root {
		font-size: 8.6px;
	}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
	:root {
		font-size: 16px;
	}

	.container {
		width: 90%;
	}
}
@media screen and (max-width: 767px) {
	:root {
		font-size: 12.4px;
	}
}
@media screen and (max-width: 400px) {
	:root {
		font-size: 10.5px;
	}
	.container {
		width: 98%;
	}
}
